<h1 ngClass="blueText large">{{title}}</h1>
<p> ngClass can be used to specify custumozide css classes to any elements</p>

<!-- Example 1: Apply 'active' class if isActive is true -->
<div [ngClass]="{ 'active': isActive }">Example 1</div>

<!-- Example 2: Apply 'active' class if isActive is true, 'disabled' class if isDisabled is true -->
<div [ngClass]="{ 'active': isActive, 'disabled': isDisabled }">Example 2</div>

<!-- Example 3: Apply 'success' class if isSuccess is true, 'warning' class if isWarning is true, 'error' class if isError is true -->
<div [ngClass]="{ 'success': isSuccess, 'warning': isWarning, 'error': isError }">Example 3</div>
