
.blueText {
  color: blue; /* Example color */
}

.large {
  font-size: 50px; /* Example font size */
}


.active {
    color: green;
    font-size: 20px;
  }
  
  .disabled {
    opacity: 0.5;
    background-color: aqua;
  }
  
  .success {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .warning {
    background-color: yellow;
  }
  
  .error {
    background-color: red;
  }
  
  div {
    margin-bottom: 20px;
    padding: 10px;
  }